<p id="notice"><%= notice %></p>

<h1>Cards u can buy:</h1>

<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Revenue</th>
      <th>Owner</th>
      <th>Set size</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

<<<<<<< HEAD
<% @cards.each do |card| %>
  <div class="cards">
    <div class="image">
      <%= image_tag card.image %>
    </div>
    <p class="group<%= card.group %>"><%= card.name %></p>
    <div class="price"><%= card.price %></td></div>
    <td><%= card.revenue %></td>
    <td><%= card.owner %></td>
    <td><%= card.set_size %></td>
    <td><%= card.group %></td>
      <div class="card_update">
          <button><%= link_to 'Show', card %></button> |
          <button><%= link_to 'Edit', edit_card_path(card) %></button> |
          <button><%= link_to 'New Card', new_card_path %></button> |
          <button><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </div>
=======
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.name %></td>
        <td><%= card.price %></td>
        <td><%= card.revenue %></td>
        <td><%= card.owner %></td>
        <td><%= card.set_size %></td>
        <td><%= card.group %></td>
        <td><%= image_tag card.image %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
>>>>>>> origin/master
    <% end %>
